<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/dist/css/font-awesome/master.min.css" />
        <link rel="stylesheet" href="/dist/css/flex-it/master.min.css" />
        <link rel="stylesheet" href="/dist/css/team/master.min.css" />
        <link rel="stylesheet" href="/dist/css/apps/master.min.css" />
        <!--[if lt IE 9]>
            <link rel="stylesheet" href="/dist/css/ie8/master.min.css" />
        <![endif]-->
        <title>{{ team_name }} - Miit</title>
    </head>
    <body>
        <div id="content">
            {% trans from "team" %}loading{% endtrans %}
        </div>

        <script type="text/javascript" src="/dist/lib/es5-shim.min.js"></script>
        <script type="text/javascript" src="/dist/lib/react-with-addons.min.js"></script>
        <script type="text/javascript" src="/dist/lib/director.min.js"></script>
        <script type="text/javascript" src="/dist/js/translations.js"></script>
        <script type="text/javascript" src="/dist/js/app.min.js"></script>
        <script type="text/javascript">
        {# Include the user in the code #}
        window.MiitApp.storage.shared.set('user', {{ user | serialize('json', user_context) | raw }});
        {# Include the team in the code #}
        window.MiitApp.storage.shared.set('team', {{ team | serialize('json', team_context) | raw }});
        window.onload = function(){
            (function(r){
                r.render(r.createElement(MiitComponents.TeamApp,null),document.getElementById('content'));
            })(React);
        };
        </script>
    </body>
</html>