<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/dist/css/flex-it/master.css" />
        <link rel="stylesheet" href="/dist/css/team/master.css" />
        <title>{{ team_name }} - Miit</title>
    </head>
    <body>
        <div id="content"></div>
        <script type="text/javascript" src="/dist/lib/es5-shim.min.js"></script>
        <script type="text/javascript" src="/dist/lib/react.min.js"></script>
        <script type="text/javascript" src="/dist/js/translations.js"></script>
        <script type="text/javascript" src="/dist/js/app.min.js"></script>
        <script type="text/javascript">
        window.onload = function(){
            (function(r){
                r.render(r.createElement(MiitTeamHomePage,null),document.getElementById('content'));
            })(React);
        };
        </script>
    </body>
</html>