<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="/dist/css/flex/master.css" />
            <link rel="stylesheet" href="/dist/css/team/master.css" />
            <title>{% block title %}{% endblock %} - Miit</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2015 by ITEvents.
            {% endblock %}
        </div>
    </body>
</html>