<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/dist/css/flex/master.css" />
        <link rel="stylesheet" href="/dist/css/www/master.css" />
        <title>{% trans from "common" %}www.homepage{% endtrans %} - Miit</title>
    </head>
    <body>
        <div id="content"></div>
        <script type="text/javascript" src="/dist/lib/react.min.js"></script>
        <script type="text/javascript" src="/dist/js/translations.js"></script>
        <script type="text/javascript" src="/dist/js/app.min.js"></script>
        <script type="text/javascript">
        window.onload = function(){
            (function(r){
                r.render(r.createElement(MiitHomePage,null),document.getElementById('content'));
            })(React);
        };
        </script>
    </body>
</html>