<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/dist/css/flex-it/master.css" />
        <link rel="stylesheet" href="/dist/css/www/master.css" />
        <title>{% trans from "common" %}www.homepage{% endtrans %} - Miit</title>
    </head>
    <body>
        <div id="content">
            
            <div id="create-team"></div>
        </div>
        <script type="text/javascript" src="/dist/lib/es5-shim.min.js"></script>
        <script type="text/javascript" src="/dist/lib/react-with-addons.min.js"></script>
        <script type="text/javascript" src="/dist/js/translations.js"></script>
        <script type="text/javascript" src="/dist/js/app.min.js"></script>
        <script type="text/javascript">
        window.onload = function(){
            (function(r){
                r.render(r.createElement(MiitComponents.CreateTeam,null),document.getElementById('create-team'));
            })(React);
        };
        </script>
    </body>
</html>