// Test sass
body {
    background-color: #f4f4f4;
    color: #1E2D3A;
}

p {
	line-height: 1.4em;
}

h3 {
	font-weight: 100;
	font-size: 1.3em;
}

.header {
	background: url(/img/background-www.jpg);
	background-size: cover;

	.menu {
		background: rgba(30, 45, 58, 0.76);
		color: #FFF;
		padding: 10px 20px;

		.logo {
			font-size: 2em;
			line-height: 35px;

			img {
				height: 35px;
				float: left;
				margin-right: 8px;
			}
		}

		a.pull-right {
			float: right;
			line-height: 35px;
		}

	}

	.banner {
		padding: 160px 30px;
		color: #FFF;

		h1 {
			font-size: 3.4em;
			font-weight: 100;
		}

		span {
			display: block;
			max-width: 80%;
			line-height: 1.3em;
			font-size: 1.2em;
			font-weight: 100;
		}
	}
}

.feature {

	margin-top: 20px;
	margin-bottom: 10px;
	
	i {
		float: left;
		margin-right: 20px;
		width: 80px;
		text-align: center;
	}

	p {
		  font-size: 0.9em;
		  font-weight: 100;
		  margin-top: 10px;
		  line-height: 1.3em;
		  padding-left: 101px;
		
	}

}

.app {

	i {
		line-height: 110px;
		font-size: 3.2em;
	}

	p {
		font-weight: 100;
	}

}

.social {
	color: #1e2d3a;
	-webkit-transition: background-color .6s ease-out;
	-moz-transition: background-color .6s ease-out;
	-o-transition: background-color .6s ease-out;
	transition: background-color .6s ease-out;
	padding: 30px 0;
	border-radius: 5px;
	display: block;

	i {
		font-size: 4.5em;
		-webkit-transition: color .6s ease-out;
		-moz-transition: color .6s ease-out;
		-o-transition: color .6s ease-out;
		transition: color .6s ease-out;
	}

	&:hover {
		color: #3498db;
		background: #EEE;

		.fa-twitter-square {
			color: #00aced;
		}
		.fa-facebook-square {
			color: #3b5998;
		}
		.fa-youtube-square {
			color: #bb0000;
		}
		.fa-google-plus-square {
			color: #dd4b39;
		}
	}
}

.news-letter {

	.btn {
		width: 100%;
	}
}