html, body {
	width: 100%;
	height: 100%;
}

.bg-cover-img {
	position: fixed;
	z-index: -1;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;

	img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		min-width: 50%;
		min-height: 50%;
	}
}

a {
	cursor: pointer;
}

.login-container {
	  width: 400px;
	  background-color: rgba(0, 0, 0, 0.15);
	  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000'); /* IE */
	  border-radius: 0;
	  height: 100%;
	  color:#FFF;
	  position:relative;
	  display: table;
}

.login {
	display:table-cell;
	vertical-align: middle;
	padding-left: 35px;
	padding-right: 35px;
}

.login .errors { 
	
}

.login p {
	font-size: 14px;
	line-height: 20px;
	margin: 10px 0;
}

.login h2 {
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 2em;
	font-size: 1.2em;
	font-weight: 100;
	width: 50%;
	text-align: center;
	float: left;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.login h2 a.active {
	display: block;
	background: rgba(255, 255, 255, 0.2);
}

.login h3 {
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 2em;
	font-size: 1.2em;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.login .logo {
	margin: auto;
	display: block;
}

.login button {
	margin-top: 30px;
	width: 100%;

}



.user-list {
	line-height: 2em;


	.user-list-header {
		font-weight: bold;
		display: table;
		width: 100%;

		& > span {
			display: table-cell;
			vertical-align: middle;
			width: 28%;
			padding: 8px 0px;
		}

		& > span:first-child {
			width: 7%;
		}

		& > span:last-child {
			width: 50%;
		}
	}

	.user-list-item {

		border-top: 1px solid #E8E8E8;
		display: table;
		padding: 7px 0;
		width: 100%;

		& > span {
			display: table-cell;
			vertical-align: middle;
			width: 28%;
		}

		.user-list-item-roles {
			width: 50%;

			button {
				padding: 6px 12px;
			}
		}

		.user-avatar {

			width: 7%;
			min-width: 30px;

			img {
				width: 100%;
				max-width: 45px;
				height: auto;
				float: left;
			}
		}

	}
}
